@import 'tailwindcss';

@theme{
    --color-brand-primary:#ea580c;
    --color-brand-dark:#1e293b;
    --color-brand-cream:#f8f1e7;

    --font-brand:"Poppins",sans-serif;
    --font-body:"Inter",sans-serif;

    --text-display:2.5rem;
    --text-heading:1.5rem;
    --text-body:1rem;
    --font-weight-logo:800;
}