body{
  background-color: rgb(248, 246, 246);
  margin:0;
  position:relative;
}

.hero-section{
  padding-top:100px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-right:30px;
  margin-left: 30px;
  gap:20px;
}

.dish-image{
  width:80%;
  object-fit: cover;
  height:200px;
  border-radius: 20px;
  background-color: aliceblue

}

.dishCard{
    padding:10px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.dishCard:hover{
  transform: translateY(-10px);
  
  
}

.add-cart-btn{
  width:70%;
  background-color:  red;
  font-size:14px;
  font-weight:bold;
  border: none;
  padding:5px;
  border-radius: 10px;
  margin-top:20px;
  cursor: pointer;
  transition: all 0.1s;
}

.add-cart-btn:hover{
  background-color: rgb(205, 2, 2);
}

