@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body{
  background-color: rgb(248, 246, 246);
  margin:0;
  font-family: 'Poppins', sans-serif;
  position:relative;

}

.hero-section{
  padding-top:100px;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  grid-auto-rows: 1fr;
  margin-right:30px;
  margin-left: 30px;
  overflow: hidden;
  gap:20px;
 
}

.dish-image{
  width:90%;
  object-fit: cover;
  height:180px;
  border-radius: 15px;
  
  background-color: aliceblue;
  margin-bottom:15px;
}

.dishCard{
    padding:10px;
    cursor: pointer;
    transition: transform  0.2s ease;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    text-align:center;
    max-width:280px;
    min-height:420px;
    margin:0 auto;
    
}

.dishCard:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  
}

.dish-info{
  font-size: 0.85rem; 
  line-height: 1.4;
  color: #555;
  margin-bottom: 5px;
}
.price-text{
    font-size: 16px;
}
.add-cart-btn{
  width:70%;
  background-color:  red;
  font-size:14px;
  font-weight:bold;
  border: none;
  padding:5px;
  border-radius: 10px;
  margin-top:20px;
  cursor: pointer;
  transition: all 0.1s;
  margin-top:auto;
}

.add-cart-btn:hover{
  background-color: rgb(205, 2, 2);
}


.show-more-btn{
   display: block;
   margin:50px auto;
   position: relative;
   z-index: 10;
   padding:15px 40px;
   background-color: #CB202D;
   color:white;
   cursor: pointer;
   border-radius: 5px;
   border:none;
   font-size:16px;
   font-weight:bold;
   transition: all 0.1s ease;
}

.show-more-btn:hover{
  box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
  padding:20px 45px;

}
