@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body{
  background-color: rgb(248, 246, 246);
  margin:0;
  font-family: 'Poppins', sans-serif;
  position:relative;

}

.hero-section{
  padding-top:100px;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  align-items: start;
  margin-right:30px;
  margin-left: 30px;
  overflow: hidden;
  gap:20px;
 
}

.dish-image{
  width:100%;
  object-fit: cover;
  height:180px;
  border-radius: 12px;
  display: block;
  background-color: aliceblue;
  margin-bottom:15px;
}

.image-container{
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.dishCard{
    padding:15px;
    cursor: pointer;
    transition: transform  0.2s ease;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:flex-start;
    text-align:left;
    max-width:280px;
    min-height:420px;
    margin:0 auto;
    position:relative;
}

.dishCard:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  
}

.combo-box{
  background: '#f9f9f9';
  padding: '5px';
  border-radius: '5px';
  font-size: '11px'
}

.rating-badge{
   background-color: rgba(0, 47, 0,0.9);
   display: flex;
   justify-content: center;
   align-items: center;
   gap:8px;
   position: absolute;
   top:5px;
   right:-15px;
   width:50px;
   padding-right: 5px;
}

.star-icon{
   color:#FFD700;
   font-size:18px;
   font-weight:bold;
}

.dish-rating{
  color:white;
  font-weight:bold;
}

.state-badge{
  position: absolute;
  right:-14px;
  top:200px;
  font-size:8px;
  padding-right:5px;
}

.dish-info{
  font-size: 0.85rem; 
  line-height: 1.4;
  color: #555;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  text-align:left;

}

.dish-info p:nth-child(4){
   color:#888;
   font-size: 12px;
   cursor: pointer;
   text-decoration: underline;
   margin:10px 0;
}
.price-text{
    font-size: 16px;
}
.add-cart-btn{
  width:100%;
  background-color:  red;
  font-size:14px;
  font-weight:bold;
  border: none;
  padding:5px;
  border-radius: 10px;
  
 
  cursor: pointer;
  transition: all 0.1s;
  margin-top:auto;
}

.add-cart-btn:hover{
  background-color: rgb(205, 2, 2);
}

.extra-info{
  width:100%;
  background-color: #f9f9f9;
  padding:10px;
  border-radius: 8px;
  
}

.show-more-btn{
   display: block;
   margin:50px auto;
   position: relative;
   z-index: 10;
   padding:15px 40px;
   background-color: #CB202D;
   color:white;
   cursor: pointer;
   border-radius: 5px;
   border:none;
   font-size:16px;
   font-weight:bold;
   transition: all 0.1s ease;
}

.show-more-btn:hover{
  box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
  padding:20px 45px;

}

.flash-highlight{
  border:2px solid #CB202D;
  box-shadow: 0 0 15px rgba(203,32,45,0.5);
  transform: scale(1.02);
  transition: all 0.3 ease;
}



.combo-link{
  color:#CB202D;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 5px;
}
