.small-header{
    padding-top:100px;
      background-color: rgb(240, 238, 238);
      padding-bottom:10px;
      display: flex;
      align-items: center;
      justify-content:center;
      column-gap: 50px;
}

button{
    background-color: red;
    border:none;
    padding:8px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;

}

button:hover{
    background-color: rgb(214, 3, 3);
}