.small-header{
    padding-top:100px;
      background-color: rgb(240, 238, 238);
      padding-bottom:10px;
      display: flex;
      align-items: center;
      justify-content:center;
      column-gap: 50px;
}

.filter-btn{
    padding:8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border:2px solid #ff0000;
    font-size:14px;
    outline: none;
    margin:5px;
}

.filter-btn.active{
    background-color: #ff0000;
    color:#ffffff;

}

.filter-btn.inactive{
    background-color: #ffffff;
    color:#ff0000
}

.filter-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}